.modelBody {
    margin-top: 2vh;
    width: 40vw;
}
.userModel {
    width: 40vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 30vh;
    left: 30vw;
    border-radius: 20px;
}
.fa-times {
    color:red;
    margin-left: 20vw;

    text-after-overflow: left;
}
.titleName {
    margin-left: 8vw;
    position: absolute;
    align-self: center;
    color: white;
}
.taskBar{
    background: #282c34;
    width: 40vw;
    justify-self: start;
    border-radius: 2px;
}
